@mixin n-padding-x($size) {
  padding-left: n-space($size);
  padding-right: n-space($size);
}

@mixin n-padding-y($size) {
  padding-top: n-space($size);
  padding-bottom: n-space($size);
}

@mixin n-transition($el: all, $duration: $default-transition-duration, $animation: $default-transition-animation) {
  transition: $el $duration $animation;
}

@mixin n-define-btn-color($name, $accent, $textColor) {
  .btn-n-#{$name} {
    @include n-transition(all, .1s);

    background-color: n-color($accent);
    color: n-color($textColor);
    border-color: n-color($accent);

    &:hover, &:visited, &:active, &:focus {
      @include n-transition;

      background-color: n-color(#{$accent}-light);
      border-color: n-color(#{$accent}-light);
      color: n-color($textColor);
    }
  }

  .btn-n-outline-#{$name} {
    @include n-transition(all, .1s);

    background-color: transparent;
    border-color: n-color($accent);
    color: n-color(#{$accent}-dark);

    &:hover, &:visited, &:active, &:focus {
      @include n-transition;

      color: n-color(#{$accent}-dark);
      background-color: n-color(#{$accent}-lightest);
    }
  }
}
