= simple_form_for @domain_block, as: :activitypub_domain_block,
                                 url: admin_domain_blocks_path do |f|
  = f.input :domain
  = f.input :severity, collection: ActivityPub::DomainBlock::SEVERITIES

  = f.submit class: 'btn-n btn-n-primary'
  a.btn-n.btn-n-outline-secondary.ml-1(href=admin_domain_blocks_path) Cancel
