.box-n
  .box-n-body.p-4
    h1.box-n-title Accounts

    table.table-n.mb-2
      thead
        th Username
        th Domain
        th
        th
        th

      tbody
        - @accounts.each do |acc, account = acc.decorate|
          tr
            - if account.suspended?
              td.text-strike.text-danger = account.username
            - elsif account.silenced?
              td.text-strike = account.username
            - else
              td = account.username

            td = account.domain
            td = link_to 'Network', account.network_url
            td = link_to 'Public', account.url
            td.text-right
              = link_to 'Edit', admin_account_path(account), class: 'btn-n btn-n-sm btn-n-outline-secondary'

    = paginate @accounts
