.box-n
  .box-n-body.p-4
    h1.box-n-title
      = @account.username

      - if @account.suspended?
        span.label-n.label-n-danger.ml-2.mr-2 Suspended

      - elsif @account.silenced?
        span.label-n.label-n-secondary.ml-2 Silenced

    table.table-n.mb-4
      tbody
        tr
          td Username
          td = @account.username

        tr
          td Domain
          td = @account.domain

        tr
          td Display name
          td = @account.display_name

        - if @user.present?
          tr
            td Permissions
            td = @user.is_admin? ? 'Admin' : 'User'

          tr
            td E-mail
            td
              = link_to @user.email, "mailto:#{@user.email}"

          tr
            td Last IP
            td = @user.current_sign_in_ip

        tr
          td Last activity
          td = @account.last_active_at

        tr
            td Followers
            td = @account.followers_count

        tr
            td Following
            td = @account.following_count

        tr
            td Posts
            td = @account.stories_count

        tr
            td Comments
            td = @account.comments_count

    - if policy(@account).silence?
      - if @account.silenced?
        a.btn-n.btn-n-outline-success.mr-2(
          href=unsilence_admin_account_path(@account)
          data-method="post"
          data-confirm="Are you sure you want to unsilence this user?"
        ) Unsilence
      - else
        a.btn-n.btn-n-outline-secondary.mr-2(
          href=silence_admin_account_path(@account)
          data-method="post"
          data-confirm="Are you sure you want to silence this user?"
        ) Silence

    - if policy(@account).suspend?
      a.btn-n.btn-n-outline-danger(
        href=suspend_admin_account_path(@account)
        data-method="post"
        data-confirm="Are you sure? This action can't be reverted"
      ) Suspend
