- presenter_opts = local_assigns.merge(liked_ids: @account_liked_comment_ids, current_user: current_user)
- presenter = CommentPresenter.new(comment, presenter_opts)
- account = presenter.account&.decorate

li.comment.h-entry(
  data-controller="comment"
  data-id=comment.id
  data-parent-id=comment.parent_id
  class=presenter.root_classes
  data-liked=presenter.liked?.to_s
)
  .comment-inner
    ul.list-inline.comment-meta(data-action="click->comment#toogleClosed")
      li.list-inline-item.comment-avatar.no-dot
        = image_tag account.avatar_url(:size_60), class: 'avatar avatar-xs'

      li.list-inline-item.comment-author.no-dot
        = presenter.linked_account_username

      li.list-inline-item
        = link_to comment, class: 'u-url' do
          time.dt-published(data-controller="time-ago" data-datetime=comment.created_at.iso8601 datetime=comment.created_at.iso8601)
            = comment.created_at

      - if presenter.show_story?
        li.list-inline-item
          | on: #{link_to comment.story.title, comment.story}

    / Comment body
    .comment-body.text-comment.e-content(data-target="comment.bodyContainer")
      == presenter.body_html

    / Bottom meta
    ul.list-inline.comment-actions(data-target="comment.actionsContainer")
      li.list-inline-item.comment-actions-like-btn.no-dot
        - if presenter.can_like?
          a.comment-like-btn(
            data-action="click->comment#toggleLike"
            data-target="comment.likeBtn"
            data-action-path=toggle_like_api_ujs_comment_path(comment)
          )
            = presenter.like_button_label

        - else
          .comment-like-btn = presenter.like_button_label

      - if presenter.has_child_comments?
        li.list-inline-item.no-dot
            | /

        li.list-inline-item.comment-actions-replies
          | #{comment.children_count} replies


      - if presenter.show_parent_link?
        li.list-inline-item
          = link_to 'parent', comment_path(id: comment.parent_id), class: 'u-in-reply-to'

      - if presenter.show_reply_link?
        li.list-inline-item
          a.comment-reply-btn(data-action="comment#showReply") reply

      - if presenter.show_edit?
        li.list-inline-item
          a.comment-edit-btn(data-action="comment#showEdit") edit

      - if presenter.show_delete?
        li.list-inline-item
          a.comment-delete-btn(
            data-action="comment#delete"
            data-action-path=api_ujs_comment_path(comment)
          ) delete

  / Edit form
  .comment-edit-container(
    data-target="comment.editContainer"
    data-action-path=edit_api_ujs_comment_path(comment)
  )

  / Reply form
  .comment-reply-container(
    data-target="comment.replyContainer"
    data-action-path=new_api_ujs_comment_path(story_id: comment.story_id, parent_id: comment.id)
  )

  / Child comments
  ul.comment-children
    - if presenter.show_children?
      - children.each do |comment, children|
        = render 'comments/comment', comment: comment, children: children, show_children: true
