- bookmarklet_presenter = BookmarkletPresenter.new

.new-story-page-sidebar
  .box-n.p-2.mt-3.mb-3
    p This community strives for quality content, and bans users very liberally, so behave yourself:
    ul
      li Be nice. Or else.
      li Self-promotion is acceptable, as long as it's not for paid goods.
      li Clickbait titles are not welcome.
      li Titles should be clear and free of extranous components.
      li Links older than a year should have year of their creation parenthesised in the story title.
      li Use description field only for no-url stories or when additional context or explanation for the URL is needed.

  .box-n
    .box-n-body.p-2
      p = t('.bookmarklet_description')

      .text-center.pt-2.pb-2
        a(class="btn-n btn-n-outline-secondary btn-n-sm btn-n-block" href=bookmarklet_presenter.href)
          = t('.add_to', site_title: Setting.site_title)
