= simple_form_for(@admin_settings, url: admin_settings_path, method: :patch) do |f|
  .box-n
    .box-n-body.p-4
      = f.input :site_title
      = f.input :site_description, as: :text

  .box-n
    .box-n-body.p-4
      h5 Settings
      = f.input :open_registrations, as: :boolean, wrapper: :switch
      = f.input :closed_registrations_message, as: :text

  .box-n
    .box-n-body.p-4
      h5 Limits

      = f.input :stories_per_day, as: :integer
      = f.input :story_likes_per_day, as: :integer
      = f.input :comment_likes_per_day, as: :integer

  = f.button :submit, 'Save changes'
